/* .custom-nav ul {
    display: inline-block;
    width: 100%;
}

.custom-nav ul li {
    display: inline;
    list-style: none;
}

.nav-align {
    margin: 0 auto;
} */

.brand_name {
    text-align: center;
    font-family: cursive;
}

.header-div {
    margin: 0 auto;
    width: 50%;
}

.nav-align::before,
.nav-align::after {
    background-color: #d0d0d0;
    content: "";
    display: inline-block;
    height: 1px;
    bottom: .1em;
    position: relative;
    vertical-align: middle;
    width: 25%;
    margin: 0 0;
}